@use '~ag-grid-community/styles' as ag;
$primary: #009abd;
$secondary: #1bc5bd;
$error: #d32f2f;
$background: var(--joy-palette-background-surface);
@include ag.grid-styles(
  (
    (
      theme: material,
      --ag-cell-horizontal-padding: 8px,
      --ag-font-family: var(--joy-fontFamily-body),
      --ag-background-color: $background,
      --ag-header-background-color: $background,
      --ag-tooltip-background-color: $background,
      --ag-disabled-foreground-color: $background,
      --ag-subheader-background-color: $background,
      --ag-subheader-toolbar-background-color: $background,
      --ag-control-panel-background-color: $background,
      --ag-side-button-selected-background-color: $background,
      --ag-selected-row-background-color: $background,
      --ag-odd-row-background-color: $background,
      --ag-material-primary-color: var(--joy-palette-primary-plainColor),
      --ag-modal-overlay-background-color: $background,
      --ag-foreground-color: var(--joy-palette-neutral-100),
      --ag-secondary-foreground-color: var(--joy-palette-neutral-300),
      --ag-row-hover-color: var(--joy-palette-neutral-outlinedHoverBg),
      --ag-header-cell-hover-background-color:
        var(--joy-palette-neutral-outlinedHoverBg)
    )
  )
);

.ag-theme-material .ag-layout-auto-height .ag-center-cols-clipper,
.ag-theme-material .ag-layout-auto-height .ag-center-cols-container,
.ag-theme-material .ag-layout-print .ag-center-cols-clipper,
.ag-theme-material .ag-layout-print .ag-center-cols-container {
  min-height: 50px;
}
.ag-cell.ag-cell-auto-height {
  display: flex;
  align-items: center;
}

.ag-theme-material {
  .ag-ltr .ag-floating-filter-button {
    margin-left: 8px;
  }
  span.ag-cell-value {
    line-height: normal !important;
    word-break: normal;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .ag-cell.custom-ag-editable {
    border-top-width: 1;
    border-bottom-width: 1;
    border-left-width: 1;
    border-right-width: 1;
    border-color: #fff;
    border-right-style: solid;
  }
  .ag-cell.custom-ag-editable.custom-ag-error,
  .ag-cell.custom-ag-editable.custom-ag-error.ag-cell-focus {
    border-color: $error;
  }

  .ag-header-cell.ag-floating-filter {
    background-color: var(--joy-palette-neutral-outlinedHoverBg);
  }
  .ag-floating-filter-input {
    input.ag-input-field-input {
      padding-bottom: 0px;
      height: 30px;
    }
  }

  .ag-overlay-no-rows-wrapper.ag-layout-auto-height {
    padding-top: 110px;
  }
}
